{% extends 'index.html'%}
{% block form %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.remove').click(function(event){
            console.log((this.href));
            event.preventDefault();
            var url = this.href;
            $.post(url);
            });
        }); //post request
</script>
<table class="table">
    <tr>
        <th>Emri</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
{% for rekordi in rekordet %}
    <tr>
        <td>{{ rekordi['nderrmarja']['emri'] }}</td>
        <td>{{ rekordi['nderrmarja']['email'] }}</td>
        <td> <a class="remove" href="{{url_for('main.remove', remove_id=rekordi._id)}}"> Delete</a> |
        <a href="{{ url_for('main.raporti',report_id=rekordi._id)}}"> View</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}